node_modules/
flask_market_app/bin
flask_market_app/include
flask_market_app/lib
flask_market_app/lib64
flask_market_app/__pycache__
flas_market_app/pyvenv.cfg

flask_market_app/pynv.cfg
flask_market_app/var/
flask_market_app/pyenv.cfg
flask_market_app/.vscode
flask_market_app/market/__pycache__
flask_market_app/.gitignore


